<section>
  <table> 
    <%= for row <- @data do %> 
    <tr> 
        <td> <%= row.date %> </td>
        <td> <%= row.fund %> </td>
        <td> $<%= row.market_value %> </td>
    </tr>
    <% end %>
  </table>
</section>
